$green: #2b992b;
$green-dark: darken($green, 10%);
$bg: #1b1b1b;
$green: #B1EDE8;
$green-dark: darken($green, 10%);

$padding-small: 0.75rem;
$padding-medium: 1.25rem;
$padding-large: 2rem;

$font-size-small: 0.875rem;
$font-size-medium: 1rem;
$font-size-large: 1.25rem;